@using VtM.Enums
@model VtM.Models.Skill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Skill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkillName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkillName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkillType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkillType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionLevel1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionLevel1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionLevel2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionLevel2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionLevel3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionLevel3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionLevel4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionLevel4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionLevel5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionLevel5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.StoryTeller.ToString()))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a><text> | </text>
    
          }
    <a asp-action="Index">Back to List</a>
</div>
