@using VtM.Enums
@model IEnumerable<VtM.Models.ThinBloodAlchemy>

@{
    ViewData["Title"] = "ThinBlood Alchemy";
}

<h1>Thin Blood Alchemey</h1>

<p>
    @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.StoryTeller.ToString()))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlchemyLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlchemyLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
          
           
            
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.StoryTeller.ToString()))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><text> | </text>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.StoryTeller.ToString()))
                    {
                        <text> | </text><a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
