@model VtM.Models.Character

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concept)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ambition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ambition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Generation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Generation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileContentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileContentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dexterity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dexterity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stamina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stamina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Charisma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Charisma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manipulation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manipulation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Composure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Composure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intelligence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resolve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resolve)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuperficialDamageTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuperficialDamageTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AggravatedDamageTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AggravatedDamageTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuperficialWillpowerDamageTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuperficialWillpowerDamageTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AggravatedWillpowerDamageTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AggravatedWillpowerDamageTaken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Humanity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Humanity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stains)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stains)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hunger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hunger)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResonanceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResonanceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrueAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrueAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApparentAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApparentAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfDeath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfDeath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appearance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appearance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistinguishingFeatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistinguishingFeatures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.History)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.History)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceSpent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceSpent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterPublicity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterPublicity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Haven)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Haven.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThinBloodDistillationMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThinBloodDistillationMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chronicle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chronicle.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coterie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coterie.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PredatorType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PredatorType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clan.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodPotency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodPotency.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
