@using VtM.Enums
@model IEnumerable<VtM.Models.DisciplinePower>

@{
    ViewData["Title"] = "Discipline Powers";
}

<h1>Discipline Powers</h1>

<p>
    @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.StoryTeller.ToString()))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Discipline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisciplineLevel)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Amalgam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmalgramLevel)
            </th>
            
            
           
            <th>
                @Html.DisplayNameFor(model => model.DisciplinePowerName)
            </th>
          
     
            
           
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Discipline.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisciplineLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amalgam.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmalgramLevel)
            </td>
            
            
            
            <td>
                @Html.DisplayFor(modelItem => item.DisciplinePowerName)
            </td>
          
           
           
            
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.StoryTeller.ToString()))
                {
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><text> | </text>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.StoryTeller.ToString()))
                {
                <text> | </text><a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
